/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');


:root {
  --primary-color: #E5E5E5;
  --secondary-color: #466EC3;
  --secondary-text: aqua;
  --accent1-color: #faf9f9;
  --accent2-color: #ebe8e8;
  --primary-shadows: #888888;




  /* Possible Fonts to use on page */
  --heading-font: "Merriweather", serif;
  /*--heading-font: "Verdana", Geneva, sans-serif;  */
  --paragraph-font: "Georgia", Times;
  --link-font: "Verdana", Geneva, sans-serif;
}

* {box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
}
h1 {
  font-size: 34px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}


p {
  font-family: var(--paragraph-font);
  padding: 1%;
}


/** Center all the content on the page and limit the width as shown. */
header, main, footer {
    max-width: 1200px;
    margin: 0 auto;
    /*align-items: center;Not sure i need this here could be under jus header*/
}

header {
  margin: 1rem auto;
  border: 1px solid var(--accent1-color);
  padding: .5rem;
  background-color: var(--primary-color);
  /*display: grid;*/
  grid-template-columns: 200px 1fr;
  /*align-items: center;*/
  text-align: center;
  border-radius: 25px;
  box-shadow: 5px 10px var(--primary-shadows)
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-row: 1/3

}

.principle_name {
  margin: 1rem auto;
  border: 1px solid var(--accent1-color);
  padding: .5rem;
  background-color: var(--secondary-color);
  color: var(--secondary-text);
  border-radius: 15px;
  text-align: center;
}

.compamy_info {
  text-align: center;
  padding-bottom: 2%;
}

main img {
  width: 100%;
  height: auto;

}

#copyright_update {
  text-align: center;
  background-color: var(--primary-color);
  border-radius: 30px;
  box-shadow: 1px 5px var(--primary-shadows);
  padding-top: 1%;
  padding-bottom: 1%;
} 




