@media only screen and (min-width: 1100px) {
  body {
    background-color: blue;
  }
  header, main, footer {
    max-width: 1050px;
    margin: 1px auto;
  }
  #chambermeeting {
    max-width: 1050px;
  }
    #chambermeeting h2 {
    animation: marquee 15s linear infinite;
  }

  button#hamburgerbtn {
    display: none;
  }
  #hamburgernav.open {
    display: none;
  }


 #primarynav {
    display: flex;
    border-top: none;
    border-bottom: none;
    border: none;
    padding-top: 2.8%;
    font-size: 14px;
  }

  nav ul li a:hover {
    background-color: rgba(0,0,0,0.1);
  }
  nav ul li a {
    display: block;
    background-color: rgba(220, 220, 220, 0.5);
    color: var(--main-text);
    text-decoration: none;
    padding: 1rem;
    border-bottom: 1px solid  rgba(0,0,0,0.5);
  }


  nav ul li {
    width: 100%;
  }

  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 26px;
  }
  h3{
    font-size: 20px;
  }
  .currentdate {
    font-size: 28px;
  }




  #main_index {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.4fr 0.4fr;
  }


  #callToAction img {
    width: 96%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 2% 0% 2% 2%;
    
  }

#callToAction {
  margin-top: 0%;
}
  #events {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  #weather {
      grid-column: 1 / 2;
      grid-row: 2 / 4;
  }

  #weather .extraweather {
    margin-top: 12%;

    
  }
  #join {
      grid-column: 2 / 4;
      grid-row: 3 / 4;
  }

  #callToAction {
      grid-column: 2 / 4;
      grid-row: 1 / 2;
  }

  #newsReleases {
      grid-column: 2 / 4;
      grid-row: 2 / 3;
  }

  #threeimagemains {
      flex-direction: column;
      grid-column: 4 / 5;
      grid-row: 1 / 4;
  }

  /* Bring back 3rd spot light */
  #spotLightThree {
    display: block;
    width: 100%;
  }

  #spotLightTwo {
    display: block;
  }
  #spotLightTwo .sl21image{
    visibility: visible;

  }

  /* turn on large copyright, turn off reset */
  .copyrightupdatesmall {
    display: none;
    text-align: center;
  }
  .copyrightupdatemedium {
    display: none;
    text-align: center;
  }
  .copyrightupdatelarge {
    display: block;
    text-align: center;
  }



/* for the discover page */
#carnival_dis, #tablemountain_dis, #otter_dis, #ctstadium_dis,#wine_dis {
  display: block;
}

#discoverimages {
  grid-column: 1;
  grid-row: 1;
}
#discoverimages1 {
  grid-column: 1;
  grid-row: 2;
}
#discoverimages2 {
  grid-column: 1;
  grid-row: 3;
}
#discoverimages3 {
  grid-column: 1;
  grid-row: 4;
}
#discoverimages4 {
  grid-column: 1;
  grid-row: 5;
}


#carnival_dis {
  grid-column: 2;
  grid-row: 1;
}
#tablemountain_dis{
  grid-column: 2;
  grid-row: 2;
}
#otter_dis{
  grid-column: 2;
  grid-row: 3;
}
#ctstadium_dis {
  grid-column: 2;
  grid-row: 4;
}
#wine_dis {
  grid-column: 2;
  grid-row: 5;
}
#discovermain p{
  padding-left: 1%;
}
#discovermain {
  grid-template-columns: 1fr 1fr 1fr;
 }

 .subappBtn {
  margin-left: 25%;
  width: 50%;
}


/*Directory page */

.businesscards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}

/*column 1*/
#game {
  grid-column: 1;
  grid-row: 1;
}
#Ikamva {
  grid-column: 1;
  grid-row: 2;
}
#Jonsson {
  grid-column: 1;
  grid-row: 3;
}



/*column 2*/

#BCO {
  grid-column: 2;
  grid-row: 1;
}
#pnp {
  grid-column: 2;
  grid-row: 2;
}

#hemel {
  grid-column: 2;
  grid-row: 3;
}



/*column 3*/

#Otto {
  grid-column: 3;
  grid-row: 1;
}
#Junior {
  grid-column: 3;
  grid-row: 2;
}
#PLC {
  grid-column: 3;
  grid-row: 3;
}


/* Business Card List format*/

.businesscardsList .membershiplvl,.businesscardsList .physicaladdess{
  display: flex;
}

.businesscardsList h2{
  font-size: 20px;
  text-align: left;
  width: 25rem;
  margin: 3% 0% 0% 0%;
  
}

}/* Need this to close the medium.NOT CODE AFTER THIS!!!*/ 
