@media only screen and (min-width: 1100px) {
  body {
    background-color: blue;
  }
  header, main, footer {
    max-width: 1050px;
    margin: 1px auto;
  }
  #chambermeeting {
    max-width: 1050px;
  }
    #chambermeeting h2 {
    animation: marquee 15s linear infinite;
  }

  button#hamburgerbtn {
    display: none;
  }
  #hamburgernav.open {
    display: none;
  }

 #primarynav {
    display: flex;
    border-top: none;
    border-bottom: none;
    border: none;
    padding-top: 2.8%;
    font-size: 14px;
  }

  nav ul li a:hover {
    background-color: rgba(0,0,0,0.1);
  }
  nav ul li a {
    display: block;
    background-color: rgba(220, 220, 220, 0.5);
    color: var(--main-text);
    text-decoration: none;
    padding: 1rem;
    border-bottom: 1px solid  rgba(0,0,0,0.5);
  }


  nav ul li {
    width: 100%;
  }

  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 26px;
  }
  h3{
    font-size: 20px;
  }
  .currentdate {
    font-size: 28px;
  }



  #main_index {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  #events {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  #weather {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
  }
  #join {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
  }

  #callToAction {
      grid-column: 2 / 4;
      grid-row: 1 / 3;
  }

  #newsReleases {
      grid-column: 2 / 4;
      grid-row: 3 / 4;
  }

  #threeimagemains {
      flex-direction: column;
      grid-column: 4 / 5;
      grid-row: 1 / 4;
  }

  /* Bring back 3rd spot light */
  #spotLightThree {
    display: block;
  }

  #spotLightTwo .sl21image{
    visibility: visible;
  }

  /* turn on large copyright, turn off reset */
  .copyrightupdatesmall {
    display: none;
    text-align: center;
  }
  .copyrightupdatemedium {
    display: none;
    text-align: center;
  }
  .copyrightupdatelarge {
    display: block;
    text-align: center;
  }
}