@media only screen and (min-width: 800px) {
  header {
    display: grid;
    border: 1px solid var(--accent1-color);
    padding: 1%;
    /*background-color: var(--primary-color);*/
    background-color: pink;
    grid-template-columns: 2fr 3fr 0.5fr 1fr;
    /*align-items: center;*/
    text-align: center;
    border-radius: 25px;
    box-shadow: 5px 10px var(--primary-shadows)
  }
  main{
    padding: 1.5%;
  }

  .SocialMediaLinks {
    display: flex;

  }
}