@media only screen and (min-width: 760px) {

  body {
    background-color: yellow;
  }

  #main_index {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.3fr 0.5fr 0.25fr 0.1fr;
  }

  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  h3{
    font-size: 18px;
  }
  .currentdate {
    font-size: 28px;
  }
  header, main, footer {
    max-width: 730px;
    margin: 1px auto;
  }
  #chambermeeting {
    max-width: 730px;
  }

  #hamburgerbtn{
    display: flex;
  }

  #weather .elfsight-app-b95b4b66-7cb2-4af2-91a0-4ead34acbc01{
    
    margin-left: 10%;
    margin-right: 10%;

  }
  #threeimagemains {
    margin-bottom: 0%;
  }

  #spotLightThree {
    width: 180%;
  }
  .sl21image {
    visibility: hidden;
  }

  /* turn on medium copyrigh, turn off rest */
  .copyrightupdatesmall {
    display: none;
    text-align: center;
  }
  .copyrightupdatemedium {
    display: block;
    text-align: center;
  }
  .copyrightupdatelarge {
    display: none;
    text-align: center;
  }


  #weather {
    width: 100%;
    margin-left: 0%;
  }
  
  #weather .elfsight-app-b95b4b66-7cb2-4af2-91a0-4ead34acbc01{
    background-color: powderblue;
    margin-left: 10%;
    margin-right: 10%;
  }


  /* moving the blocks around */

  #callToAction {
    grid-column: 1 / 4;
  }

  #newsReleases {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    width: auto;
  }


  #threeimagemains {
    flex-direction: row;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }

  #join {
    display: block;
    grid-column: 1 / 4;
    grid-row: 4 / 5;
  }

  #events {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
  }

  #weather {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
  }

  /* rebuid the top footer section */
  .footerbuild {
    display: flex;
    flex-direction: row;
    
  }
  .footerlogo {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  .footerlogo img {
    padding-right: 2%;
  }
  .footercontact {
    display: flex;
    flex-direction: column;
  }


/*discover page */

#discovermain {
  padding: 2%;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
  background-color: var(--accent1-color)
 }

#discovermain img:hover{
  box-shadow: 0 0 35px var(--primary-dark);
}

#discoverimages {
  grid-column: 1;
  grid-row: 1;
}
#discoverimages1 {
  grid-column: 1;
  grid-row: 2;
}
#discoverimages2 {
  grid-column: 1;
  grid-row: 3;
}
#discoverimages3 {
  grid-column: 1;
  grid-row: 4;
}
#discoverimages4 {
  grid-column: 1;
  grid-row: 5;
}

/* join page */
#membershipapp {
  padding: 2%;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
  background-color: var(--accent1-color)
}

#detailedinformation {
  display: grid;
}

.subappBtnsm {
  display: none;
}
#subappBtn{
  display: block;
}

/*Directory page */

.businesscards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--accent1-color);
  
}

.businesscards h2{
  display: none;
}

.businesscards img {
  width: 40%;
  padding: 2%;
  margin-left: 28%;
  display: block;
}

.businesscards section {
  margin-bottom: 3%;
}

.businesscards h3, .businesscards h2{
  background-color: var(--accent2-color);
  margin-left: 14%;
  border: 1px solid rgba(0,0,0,0.5);
  text-align: center;
  background-color: var(--accent2-color);
  padding: 1%;
  width: 70%;
  }
.businesscards p{
  margin: 0%;
  text-align: center;
}

/*column 1*/
#game {
  grid-column: 1;
  grid-row: 1;
}
#Ikamva {
  grid-column: 1;
  grid-row: 2;
}
#Jonsson {
  grid-column: 1;
  grid-row: 3;
}
#hemel {
  grid-column: 1;
  grid-row: 4;
}
#Otto {
  grid-column: 1;
  grid-row: 5;
}


/*column 2*/

#BCO {
  grid-column: 2;
  grid-row: 1;
}
#pnp {
  grid-column: 2;
  grid-row: 2;
}

#Junior {
  grid-column: 2;
  grid-row: 3;
}
#PLC {
  grid-column: 2;
  grid-row: 4;
}
#bdgridListBtns{
  display: block;
}
#bdgridbtn{
  padding: 2rem;
  margin: 10px;
  margin-bottom: 3%;

}
#bdlistbtn{
  padding: 2rem;
  margin: 10px;
  margin-bottom: 3%;

}


/* Business Card List format*/

.businesscardsList {
  grid-template-columns: 1fr;
}

.businesscardsList section{
  display:flex;
  margin: 1% 0%;
  background: var(--accent1-color);
  padding: 10px;
}
.businesscardsList h2{
  font-size: 16px;
  text-align: left;
  width: 10rem;
  margin: 3% 0% 0% 0%;
  
}

.businesscardsList .physicaladdess,.businesscardsList .busindustry,.businesscardsList .physicaladdess, .businesscardsList .membershiplvl{
  display: none;
}

.businesscardsList .webaddress {
  display: flex;
}

.businesscardsList img {
  display: none;
}

.businesscardsList p{
  padding: 1% 0.5%;
}














} /* Need this to close the medium.NOT CODE AFTER THIS!!!*/ 

