@media only screen and (min-width: 1000px) {
  body {
    background-color: var(--bodybackground-color);
    background-color: darkgray;
    /* background-color: var(--primary-dark);*/
  }

  


  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 24px;
  }
  h3{
    font-size: 20px;
  }
  

  header, main, nav, .contactinfo, .basefooter {
    max-width: 1050px;
  }

 
/* HEADER BUILD */
header h1 {
  margin-left: 10%;
  margin-top: 12%;
}

/* Nav */
nav {
  font-size: 1.75em;
  line-height: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 0px;
}
  
/*Main page index.html*/

.mainrepimg_rel{
  position: relative;
}
.mainrecpimg {

  margin-bottom: 2%;
  width: 100%;
}
.indexbutton {
  position: absolute;
  width: 10%;
  left: 60%;
  top: 53%;
  padding: 25px;
  border-radius: 15px;
  border: 5px solid var(--infotxt-color);
}


.ourgoal {
  font-size: 1.5rem;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 15px 45px;
}


.maingrid {
  background-color:var(--infoblocks-color);
  display: grid;
  grid-template-columns: 1fr 1fr;

}
.maingrid .tempmonth{
  grid-column: 1 / 3 ;
  text-align: center;
  font-weight: bolder;
  font-size: 28px;

}

.maingrid img {
  padding: 2%;
  width: 96%;
  

}

.maingrid .featuretext p {
  font-size: 20px;
  grid-row: 2;
}
.maingrid .featuretext h4 {
  text-align: center;
  
}
.maingrid picture {
  grid-row: 2;

}


  
/* footer - nothing*/



/*Services Page */


.serviceimg {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2%;
  margin-left: 11%;
  width: 80%;
}

.serviceimg3 {
  display: block;
}

.serviceimg img {
  width: 98%;
}

.freeamenities {
  display: grid;
  grid-template-columns: 1fr 1fr;

}


.freeamenities li {
  text-align: left;
  line-height: 1.5rem;
}
.freeamenities img{
  width: 95%;
  margin-top: 10%;
}


.specializedservices{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
}
.specializedservices li {
  text-align: left;
  line-height: 2rem;
}

.ssimages {
  width: 95%;
  margin-top: 15%;
  grid-row: 1;
}

.sssimages {
  width: 100%;
}




/* Receptions Page */
.receptionimg {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2%;
  margin-left: 8%;
  width: 80%;
}
.receptionimg img {
  width: 98%;
}
.recpheading {
  grid-row: 1;
  grid-column: 1/4;
}




.receptionfood {
  display: grid;
  margin: 2%;
  margin-left: 8%;
  width: 80%;
}



.receptioncake {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  margin: 2%;
  margin-left: 8%;
  width: 80%;
}
.receptioncake img {
  width: 98%;
}
.recpheading {
  grid-row: 1;
  grid-column: 1/4;
}

.receptioncakeimg1 {
  display: grid;
  grid-row: 2;
  grid-column: 1/2;
}
.receptioncakeimg2 {
  display: grid;
  grid-row: 2;
  grid-column: 2/3;
}
.receptioncakeimg3 {
  display: grid;
  grid-row: 2;
  grid-column: 3/4;
}
.receptioncakeimg4 {
  grid-row: 3;
  grid-column: 1/2;
}
.receptioncakeimg5 {
  display: grid;
  grid-row: 3;
  grid-column: 2/3;
}
.receptioncakeimg6 {
  grid-row: 3;
  grid-column: 3/4;
}


/* weather warning */
#weatheralert h2 {
  margin: 2%;
}

} 
/* Need this to close the medium.NOT CODE AFTER THIS!!!*/ 