@media only screen and (min-width:900px) {
  header, main, footer {
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;/*Not sure i need this here could be under jus header*/
  }
  header {
    display: grid;
  }
  header img {
    width: 100%;
    padding: 5%;
    height: auto;
  }
  nav {
    max-width: 1200px;
  }
  nav ul { display: flex; }
  nav ul li { flex: 1 1 auto; } 
  #copyright_update {font-size: 24px;} 
  
  #main_ta{
    max-width: 1200px;
  }
  #main_ta li{
    text-align: center;
  }
}
